<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guided Assembly System</title>
    <link rel="icon" href="static/images/fav.jpg">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span class="navbar-brand-icon">
                <img src="static/images/fav.jpg" alt="Logo">
            </span>
            <span class="navbar-brand-text">Guided Assembly System</span>
        </a>
        <div class="navbar-links" id="navbarLinks">
            <a href="/">Home</a>
            <a href="/templates">Templates</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</nav>
<main>
    <div class="heading-box">
        <h2 class="heading-title">Guided Assembly System</h2>
        <h3>Template Management</h3>
        <h4>Choose a template to start the process</h4>
        <button id="startStopButton" type="submit">Start</button>
        <input type="text" id="template_name" name="template_name" placeholder="Enter template name">
    </div>
    <div class="content">
        <img id="video_feed" src="/static/images/background.jpg" alt="Video Feed">
        <div class="system-log">
            <h2>System Log</h2>
            <div class="system-log-text">
                <p></p>
            </div>
        </div>
    </div>
</main>
<script src="static/js/templates.js"></script>
<script src="static/js/shared.js"></script>
</body>
</html>
